
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>Hey there,</p>
    <p>Use the new password below to login with your email.  You can then change it once logged in.</p>
    <p>New password:  JKG847MN</p>
    <%= link_to 'Sign In', root_url %>

  </body>


</html>
