/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


@import "reset";

$button_color:  green;
$off_white_color: white;
$color_sears: #2F4377;
$color_sky: #88B5F8;
$color_clouds: #F6F6F6;
$color_red: #BA5372;
$color_ocean: #388698;

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: $color_sears;
}


body{

    background: url('4094.jpg') top center no-repeat;
    background-size: cover;


}

.pagecontainer{
    width: 75%;
    margin: 0 auto;
}

html{
    height: 100%;
}



li{
    display: inline-block;
}

nav{

    text-align: right;
}


.alert, .alert-row{
    color: $color_red;
    display: block;
}

.alert-success{
    text-align: center;
    display: block;
    font-size: 40px;
    color: $color_ocean;
    margin-top: 20px;
}

.subheader{
    width: 95%;
    margin: 0 auto;

    h3{
        font-family: 'Copperplate Gothic Bold', sans-serif;
        font-weight: bold;
        font-size: 50px;
        color: $color_sears;
        width: 100%;
        margin: 0 0 10px 0;
    }


}

 .sellpoint{

        color: $color_sears;
        line-height: 20px;
        margin-bottom: 30px;

    }

.footer{

        margin-top: 10px;
        font-size: 14px;
        line-height:18px;
}




.collect_info_container{

    background: $color_clouds;
    width: 500px;
    border-radius: 7px;
    box-shadow: 1px 1px 2px $color_clouds;
    text-align: center;
    padding: 30px 10px 30px 10px;
    margin: 50px auto;
    display: block;
    height: 100%;




}

label{

    display: none;
    text-align: right;
    width: 100px;
    line-height: 40px;
    height: 20px;

}

input[type="text"], input[type="password"]{

    clear: both;
    height: 40px;
    width: 300px;
    // padding: 5px;
    margin-bottom: 10px;
    outline: none;
    font-size: 16px;
    border-radius: 3px;
    text-align: center;
    color: $color_sears;

    &:focus{
        border: 3px solid $color_ocean;
    }
}

.btn{

    width: 300px;
    height: 40px;
    border-radius: 3px;
    background: none;
    background: $color_ocean;
    cursor: pointer;

    font-size: 16px;
    color: white;
    border: 1px solid $color_ocean;

    padding: 5px;
    margin-top: 10px;
    &:hover{
        background: #327787;
    }

}



.error_list{
    color: $color_red;
}


.field_with_errors {
        color: $color_red;

        input{
            border: 2px solid $color_red;
        }

}

.warning{
    padding: 0;

    text-align: right;
    font-size: 12px;
}



.navbar{
    margin-top:20px;
    font-size: 18px;

}


.userinfo{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
}

.gravatar{
    border-radius: 1000px;
    width: 150px;
    margin-left: 85px;
    margin-top: 10px;
}

.forget{
    text-align: right;
    padding-right:79px;
    padding-top: 2px;
    padding-bottom: 10px;
    font-size: 14px;
}
